altgraph
beautifulsoup4
blessings
bpython
bs4
certifi
charset-normalizer
curtsies
cwcwidth
greenlet
idna
lxml
macholib
markdownify
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyxdg
requests
six
soupsieve
typing_extensions
urllib3
mcp